<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.grayfox.android"
    android:installLocation="auto">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name">
        <meta-data
            android:name="roboguice.modules"
            android:value="com.grayfox.android.config.ConfigModule" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="@string/google_maps_v2_api_key" />

        <activity
            android:name=".activity.SignInActivity"
            android:theme="@style/AppTheme.WithDefaultActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MainActivity"
            android:theme="@style/AppTheme.WithToolbar" />
        <activity
            android:name=".activity.RouteDisplayingActivity"
            android:label="@string/title_activity_route_displaying"
            android:theme="@style/AppTheme.WithDefaultActionBar" />
        <activity
            android:name=".activity.FriendProfileActivity"
            android:label="@string/profile_title"
            android:theme="@style/AppTheme.WithDefaultActionBar" />
        <activity
            android:name=".activity.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:theme="@style/AppTheme.WithDefaultActionBar" />
    </application>

</manifest>